#ignore visual studio's folder
ByteBusters/.vs/
ByteBusters/Game/Game.vcxproj
ByteBusters/Game/Game.vcxproj.filters
ByteBusters/Game/Game.vcxproj.user
ByteBusters/Game/x64/
ByteBusters/x64/Debug/Game.exe
ByteBusters/x64/Debug/Game.pdb